body {
  font-family: 'Zalando Sans', sans-serif;
  font-stretch: semi-expanded; /* ou use: font-stretch: 110%; */
  padding: 20px;
  background: #f4f4f4;
}
h1 {
  margin-bottom: 20px;
}
.menu button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
  justify-content: center;
}

/* Novo estilo de card */
.article-wrapper {
  width: 250px;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: white;
}
.article-wrapper:hover {
  box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  border-color: #0578c5;
  transform: translate(-20px, -20px);
}
.article-wrapper:active {
  box-shadow: none;
  transform: translate(0, 0);
}
.types {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.rounded-lg {
  border-radius: 10px;
}
.article-wrapper:hover .project-hover {
  transform: rotate(-45deg);
  background-color: #a6c2f0;
}
.project-info {
  padding-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-title {
  font-size: 1.2em;
  margin: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
.flex-pr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px;
}
.project-hover {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 6px;
  transition: all 0.3s ease;
}
.container-project {
  width: 100%;
  height: 170px;
  background: gray;
  background-size: cover;
  background-position: center;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
  position: relative;
}
.close {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}
.modal-content input,
.modal-content select {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}
.modal-content button {
  padding: 8px 16px;
}